[Unit]
Description=Today Vault Web Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory={{deploy_path}}
Environment="NODE_ENV=production"
ExecStart=/usr/bin/npx dotenvx run -- node src/web-server.js
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
